.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppContent {
  margin-top: 20px;
}

.react-rater-star.is-active,
.react-rater-star.is-active-half::before {
  color: gold !important;
}

@media (min-width: 992px) {
  .my-modal-lg {
    width: auto !important;
  }
}

@media (min-width: 768px) {
  .my-modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (min-width: 768px) {
  .my-modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0;
  }
}
